html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  @apply max-w-[960px] mt-0 mx-auto mb-[100px] py-0 px-[4%] text-center;
}